{% extends "_base.html" %}

{% block title %}Modification : {{ book.title }}{% endblock %}

{% block body %}
<form action="/books/{{ book.id }}" method="post">
  <div>
    <div class="mb-3">
      <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
      <input type="text" name="title" id="title" value="{{ book.title }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ex: Lord of the ring" required />
    </div>

    <div class="mb-3">
      <label for="owner_id" class="block mb-2 text-sm font-medium text-gray-900">Select an owner</label>
      <select id="owner_id" name="owner_id" value="{{ book.owner_id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        {% for user in users %}
          {% if user.id == book.owner_id %}
            <option value="{{ user.id }}" selected>{{ user.name }}</option>
          {% else %}
            <option value="{{ user.id }}">{{ user.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="current_holder_id" class="block mb-2 text-sm font-medium text-gray-900">Select an holder</label>
      <select id="current_holder_id" name="current_holder_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option value="">Aucun</option>
        {% for user in users %}
          {% if book.owner_id != user.id %}
            {% match book.current_holder_id %}
              {% when Some with (current_holder_id) %}
                <option value="{{ user.id }}" {% if user.id == *current_holder_id %}selected{% endif %}>{{ user.name }}</option>
              {% when None %}
                <option value="{{ user.id }}">{{ user.name }}</option>
            {% endmatch %}
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add</button>
</form>
{% endblock %}

